# dependencies
node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js build output
.next
out

# environment variables
.env
.env.local
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem